In [9]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from survival import MIRModel

ImportError: cannot import name 'AgeSurvivalModel'

In [18]:
from survival.age_group_extension import AgeSurvivalModel

In [21]:
df_inputs = pd.read_csv('/home/j/temp/fed1/input_file_with_other_mortality_calculated_from_numbers.csv')

In [22]:
df_inputs.head()

,Unnamed: 0,age_group_id,location_id,year_id,sex_id,cause_id,metric_id,acause,age_group_name,cause_name,...,val.y,upper.y,lower.y,deaths,total_deaths,non_cancer_deaths,mi_ratio,population,run_id,other_mortality
0,1,2,102,1990,1,411,1,neo_esophageal,Early Neonatal,Esophageal cancer,...,NaN,NaN,NaN,NaN,11166.269409,NaN,NaN,40726.147638,192,NaN
1,2,2,102,1990,1,414,1,neo_stomach,Early Neonatal,Stomach cancer,...,NaN,NaN,NaN,NaN,11166.269409,NaN,NaN,40726.147638,192,NaN
2,3,2,102,1990,1,423,1,neo_larynx,Early Neonatal,Larynx cancer,...,NaN,NaN,NaN,NaN,11166.269409,NaN,NaN,40726.147638,192,NaN
3,4,2,102,1990,1,426,1,neo_lung,Early Neonatal,"Tracheal, bronchus, and lung cancer",...,NaN,NaN,NaN,NaN,11166.269409,NaN,NaN,40726.147638,192,NaN
4,5,2,102,1990,1,429,1,neo_breast,Early Neonatal,Breast cancer,...,NaN,NaN,NaN,NaN,11166.269409,NaN,NaN,40726.147638,192,NaN

In [26]:
model = AgeSurvivalModel()

In [23]:
df_outputs.compute_P_s()
df_outputs.head()

AttributeError: 'DataFrame' object has no attribute 'compute_P_s'

In [ ]:
df_inputs.compute_n_year_survival(num_years=5)
df_inputs.head()