In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from survival import MIRModel

In [3]:
from survival.age_group_extension import AgeSurvivalModel

In [4]:
#df_inputs = pd.read_csv('/home/j/temp/fed1/input_file_with_other_mortality_calculated_from_numbers.csv')
df_inputs = pd.read_csv('/home/j/temp/fed1/concord_locs_all_cancers_inputs_fixed_mirs.csv')

In [5]:
pd.set_option('display.max_rows', None)
df_inputs.age_group_id.unique()

array([  1,   6,   7,   8,   9,  10,  11,  12,  13,  14,  15,  16,  17,
        18,  19,  20,  30,  31,  32, 235])

In [ ]:
#df_inputs = df_inputs[df_inputs['age_group_id']!=5]
#df_inputs = df_inputs[df_inputs['age_group_id']!=22]

In [9]:
model = AgeSurvivalModel(df_inputs[df_inputs['location_id']==102])

In [10]:
model.compute_P_s()

In [14]:
model.compute_n_year_survival(num_years=5)

In [15]:
df = model.combine_outputs()

In [16]:
df.head()

,age_group_id,location_id,other_mortality,sex_id,acause,year_id,mi_ratio,P_c,P_s,abs_survival,rel_survival,UID
0,1,102,0.001848,1,neo_bone,2002,0.232213,0.051689,0.946463,0.759484,0.766541,102 2002 1 neo_bone
1,6,102,0.000164,1,neo_bone,2002,0.232213,0.006798,0.993038,0.965672,0.966463,102 2002 1 neo_bone
2,7,102,0.000227,1,neo_bone,2002,0.232213,0.005410,0.994363,0.972131,0.973235,102 2002 1 neo_bone
3,8,102,0.000924,1,neo_bone,2002,0.232213,0.007240,0.991836,0.959841,0.964288,102 2002 1 neo_bone
4,9,102,0.001434,1,neo_bone,2002,0.453751,0.036298,0.962268,0.825051,0.830991,102 2002 1 neo_bone

In [17]:
df.to_csv('/home/j/temp/fed1/age_group_extension_test.csv')