In [1]:
#SET UP
#import sys
#!{sys.executable} -m pip install pandas
#!{sys.executable} -m pip install matplotlib

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from survival import DecayMIRModel

In [3]:
#PROCESS INPUTS
df = pd.read_csv('/home/j/temp/fed1/test_new_decay_survival_model_inputs.csv')

#remove NAs and MIR >1
df = df.dropna()
df = df[df['mi_ratio']<=1]

df

   Unnamed: 0  uid  mi_ratio  year_id  other_mortality  slope  disease_period
0           1    1       0.0        0             0.05  -0.21              10
1           2    2       0.1        1             0.05  -0.21              10
2           3    3       0.2        2             0.05  -0.21              10
3           4    4       0.3        3             0.05  -0.21              10
4           5    5       0.4        4             0.05  -0.21              10

In [4]:
#RUN MODEL
num_years = 5

model = DecayMIRModel(df['mi_ratio'],
                 df['other_mortality'],
                 df['disease_period'],
                 df['slope'])
model.compute_base_excess_mortality()
survival_rate = model.get_survival_rate(num_years=num_years)

df['base_excess_mortality'] = model.base_excess_mortality
df['abs_survival_rate'] = survival_rate['abs']
df['rel_survival_rate'] = survival_rate['rel']

In [6]:
df

,Unnamed: 0,uid,mi_ratio,year_id,other_mortality,slope,disease_period,base_excess_mortality,abs_survival_rate,rel_survival_rate
0,1,1,0.0,0,0.05,-0.21,10,0.000000,0.814506,1.000000
1,2,2,0.1,1,0.05,-0.21,10,0.032937,0.747934,0.922233
2,3,3,0.2,2,0.05,-0.21,10,0.069547,0.678733,0.841117
3,4,4,0.3,3,0.05,-0.21,10,0.110828,0.606479,0.756082
4,5,5,0.4,4,0.05,-0.21,10,0.158265,0.530613,0.666362
5,6,6,0.5,5,0.05,-0.21,10,0.214203,0.450368,0.570889
6,7,7,0.6,6,0.05,-0.21,10,0.282706,0.364639,0.468084
7,8,8,0.7,7,0.05,-0.21,10,0.371822,0.271732,0.355425
8,9,9,0.8,8,0.05,-0.21,10,0.501604,0.168853,0.228417
9,10,10,0.9,9,0.05,-0.21,10,0.756216,0.052111,0.078330