In [1]:
# Code to make reloading after modifying code easier
# Each time you edit the model scripts, run python setup.py install in a terminal window in the repo
# These lines *should* make it so that you do not need to restart kernel
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from survival import MIRModel

In [3]:
# AGE GROUP EXTENSION MODEL
from survival import AgeSurvivalModel
from survival.age_group_extension_v2 import AgeSurvivalModel2

In [4]:
# INPUT DATA
df_inputs = pd.read_csv('/home/j/temp/fuwj0528/survival/concord_location_inputs_combined_sex.csv')

In [5]:
# CHECK: print unique age group ids
#df_inputs.age_group_id.unique()
# REMOVE incorrect or not age specific
#df_inputs = df_inputs[df_inputs['age_group_id']!=5]
#df_inputs = df_inputs[df_inputs['age_group_id']!=22]

In [6]:
# Lines to display all data rows:
#pd.set_option('display.max_rows', None)
#df_inputs

df_inputs.head()

,Unnamed: 0,location_id,sex_id,year_id,age_group_id,acause,deaths,location_name,all_cause_mor,population,other_mortality,cases,mi_ratio
0,1,6,3,1990,6,neo_brain,2282.497352,China,92907.166903,1.047421e+08,0.000865,3454.915259,0.660652
1,2,6,3,1990,6,neo_colorectal,59.028745,China,92907.166903,1.047421e+08,0.000886,112.776590,0.523413
2,3,6,3,1990,6,neo_leukemia_ll_acute,944.262699,China,92907.166903,1.047421e+08,0.000878,1314.237659,0.718487
3,4,6,3,1990,6,neo_leukemia_ml_chronic,42.450556,China,92907.166903,1.047421e+08,0.000887,58.770683,0.722308
4,5,6,3,1990,6,neo_liver,207.565761,China,92907.166903,1.047421e+08,0.000885,187.371464,1.107777

In [7]:
# CHECK: Ensure background mortality is less than 1.
# df_inputs = df_inputs[df_inputs['other_mortality']<1]

In [ ]:
# Subset the inputs
df_inputs = df_inputs[df_inputs['location_id']==6]

In [ ]:
# RUN MODEL on inputs, long running chunk.
model = AgeSurvivalModel(df_inputs)
model.compute_P_s()

# Compute the n year survival in model
model.compute_n_year_survival(num_years=5)

In [ ]:
# Compile outputs of model into dataframe
df = model.combine_outputs()
df.head()

In [ ]:
# SAVE OUTPUTS
df.to_csv('/home/j/temp/fed1/age_group_extension_test_4_21_2021.csv')